.container{
    max-width: 600px;
}
h1{
    color: white;
}
.choose-text{
    color: rgb(192, 188, 188);
}
body{
    background: black;
}
.btn{
    background: #43d9be;
    color:white;
    outline:none !important;
    box-shadow: none !important;

}

btn:focus{
    outline:none !important;
}
.highlight{
    background-color: rgb(107, 230, 107) ;
}

.username{
    font-weight: bold;
}
.time{
    font-size:0.7em;
    color:#999;
}

.update-msg{
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: crimson;
}

.xbox {
  
 
    
    text-align: center;
    font-weight: 90;
    color: #000000;
    font-family: Helvetica;
  
    
  }

